<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/tablas.css}" />
    <title>Lista de Nominas</title>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <h1>Lista Nominas</h1>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
