<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/tablas.css}" />
    <title>Lista de Nominas</title>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h2>Lista de Nominas</h2>

        <table>
            <thead>
                <tr>
                    <th>ID Nomina</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nomina : ${nominas}">
                    <td th:text="${nomina.idNomina}"></td>
                    <td th:text="${nomina.sueldo}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
