<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <footer class="footer">
        <p>Derechos de autor © 2023 Mi Empresa</p>
        <!-- Otros elementos del pie -->
        <a href="#">Política de privacidad</a>
        <span>/</span>
        <a href="#">Términos y condiciones</a>
        <span>/</span>
        <a href="#">Contacto</a>
    </footer>
</body>
</html>