<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/formulario.css}" />
    <title>Agregar Empleado</title>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h2>Agregar Empleado</h2>
        <form th:action="@{/empleados/crear}" method="post" th:object="${empleado}">
            <!-- Campos del formulario -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />
            <label for="nombre">DNI:</label>
            <input type="text" id="dni" name="dni" th:field="*{dni}" required />
            <label for="nombre">Sexo:</label>
            <select name="sexo" id="sexo">
                <option value="M" >Hombre</option>
                <option value="F">Mujer</option>    
            </select>
            <label for="nombre">Categoria:</label>
            <input type="text" id="categoria" name="categoria" th:field="*{categoria}" required />
            <label for="nombre">Años Trabajados:</label>
            <input type="text" id="anyosTrabajados" name="anyosTrabajados" th:field="*{anyosTrabajados}" required />
			
            <div class="botonGuardar">
                <button type="submit">Guardar</button>
            </div>
            
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
