<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/formulario.css}" />
    <title>Agregar Empleado</title>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h2>Editar Empleado</h2>
		<form th:action="@{/empleados/actualizarEmpleado}" method="post" th:object="${empleado}">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" th:field="*{dni}" placeholder="8 digitos y letra" required />
            <label for="sexo">Sexo:</label>
            <select name="sexo" id="sexo">
                <option value="M" >Hombre</option>
                <option value="F">Mujer</option>    
            </select>
            <label for="categoria">Categoria:</label>
            <input type="number" id="categoria" name="categoria" th:field="*{categoria}" placeholder="Entre 1 y 10" required />
            <label for="anyosTrabajados">Años Trabajados:</label>
            <input type="number" id="anyosTrabajados" name="anyosTrabajados" th:field="*{anyosTrabajados}" required />
            
            <input type="hidden" name="id" th:field="*{id}" />
			
            <div class="botonGuardar">
                <button type="submit">Guardar Cambios</button>
            </div>
            
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
