<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/listaEmpleados.css}" />
    <title>Lista de Empleados</title>
    

</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h2>Lista de Empleados</h2>

        <form method="get" action="/empleados">
		    <input type="text" name="search" placeholder="Buscar por nombre, DNI, categoría, etc." />
		    
		    <select name="filterBy" th:value="${filterBy}">
		        <option value="nombre">Nombre</option>
		        <option value="dni">DNI</option>
		        <option value="sexo">Sexo</option>
		        <option value="categoria">Categoría</option>
		        <option value="anyosTrabajados">Años Trabajados</option>
		    </select>
		    
		    <button type="submit">Filtrar</button>
		</form>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Sexo</th>
                    <th>Categoría</th>
                    <th>Años Trabajados</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empleado : ${empleados}">
                    <td th:text="${empleado.id}"></td>
                    <td th:text="${empleado.nombre}"></td>
                    <td th:text="${empleado.dni}"></td>
                    <td th:text="${empleado.sexo}"></td>
                    <td th:text="${empleado.categoria}"></td>
                    <td th:text="${empleado.anyosTrabajados}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>
