<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Empresa de Diseño Web</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
    <link rel="stylesheet" th:href="@{/css/Inicio.css}" />
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <span class="fondo"></span>
    <div class="container">
        <img th:src="@{/images/mapa.jpg}" alt="" class="img-r" />
        <h1>Somos CFG, una empresa que combina técnica, ingenio y creatividad para dar vida a tus proyectos.
            Nos adaptamos a tus necesidades con sensibilidad y profesionalidad. Nos encanta lo que hacemos y
            queremos compartirlo contigo.
            El trabajo desarrollado durante éstos años, nos ha aportado los valores de flexibilidad y profesionalidad
            necesarios que se requieren para crecer en un sector tan exigente como éste.
        </h1>
        <cite>“No construyas enlaces, construye relaciones”. - Rand Fishkin</cite>
    </div>
    <span class="espacio"></span>
    <div class="container">
        <img th:src="@{/images/fondo.png}" alt="" class="img-l" />
        <h1>Nos gusta estar al día de las últimas tendencias y tecnologías, y aplicarlas a nuestros proyectos. Nuestro
            equipo está formado por profesionales con amplia experiencia y formación, que ponen su técnica, ingenio y
            creatividad al servicio de tus necesidades. Además, trabajamos con sensibilidad y profesionalidad,
            escuchando tus ideas, asesorándote y acompañándote en todo el proceso. Somos CFG, tu empresa de desarrollo
            web.
        </h1>
        <cite>“La confusión forma parte de la programación. Si no estás confundido, no estás aprendiendo”. - Brian Kernighan</cite>
    </div>
    <span class="espacio"></span>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>